*{
    margin: 5px;
    padding: 0;
    background-color:gray;
}
h1{
    color: rgb(255, 0, 0);
    text-decoration: double;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
    color: rgb(76, 0, 255);
    font-weight: bold;
    font-style: oblique;
}
.parrafo{
    color: aliceblue;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
}
.img{
    display: flex;
    justify-content: center;
    text-align: center;
}
button a{
    text-shadow: none;
    text-decoration:double;
    font-style: italic;
    background: #000000;
    color: rgb(0, 255, 42);
}
button{
    border-radius: 15px;
    background:#000000;
    text-align: center;
    cursor: pointer;
    top: 50%;
    left: 50%;
    padding:0;
    width: 25%;
    position: relative;
}
footer{
    text-align: center;
    text-shadow: none;
     color: blueviolet;
     
}