#zapatogif
{
    
    top: 15%;
  left: 37%;
  left: 41%;
  margin: -25px 0 0 -25px;
   position: absolute;
   width: 500px;
   border-radius: 5%;
}
.listazapa
{
    
    margin-top: 450px;
    border-radius: 20px; 
    
    margin-left: 10px;
    background-color: #CAE0E8;
    padding-bottom: 20px;
    display: flex;
    
}
#zapa1
{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}
.listazapa2
{
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 20px; 
    
    background-color: #CAE0E8;
    padding-bottom: 20px;
    display: flex;
}
.listazapa3
{
    margin-top: 30px;
    margin-left: 10px;
    border-radius: 20px; 
    background-color: #CAE0E8;
    padding-bottom: 20px;
    display: flex;
}
.zapatos
{
  width: 50%;
  
    
}
.zapatos2
{
    position: absolute;
    right: 0%;
    top: 538px;
    width: 49%;
    height: 0%
    
}
.listazapa4
{
    position: relative;
    background-color: #CAE0E8;
    padding-bottom: 20px;
    display: flex;
    border-radius: 20px;
    
    
}
#zapa2
{
    
     width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    right: 0%;
    
}
.listazapa5
{
     position: relative;
    background-color: #CAE0E8;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    border-radius: 20px;
}
.listazapa6
{
     position: relative;
    background-color: #CAE0E8;
    margin-top: 30px;
    padding-bottom: 20px;
    display: flex;
    border-radius: 20px;
}
.textozapatos{
    font-size: 40px;
    padding-left: 90px;
    height: 10px;
    font-family: Bluffolk;
    
        
}
.textoprecio
{
   font-size: 40px;
   margin-left: 10px;
   color: crimson;
   font-family: Bluffolk;
    
}
@font-face
{
    font-family: Bluffolk;
    src: url(../fonts/Bluffolk.otf) format(truetype);
    font-style: normal;
    font-weight: normal;

}
.listazapa:hover
{
    background-color: #151B1F;
    color: white;
}
.listazapa2:hover
{
    background-color: #151B1F;
    color: white;
}
.listazapa3:hover{
    background-color: #151B1F;
    color: white;
}
.listazapa4:hover{
    background-color: #151B1F;
    color: white;
}
.listazapa5:hover{
    background-color: #151B1F;
    color: white;
}
.listazapa6:hover
{
    background-color: #151B1F;
    color: white;
}
.listazapa, .listazapa2, .listazapa3, .listazapa4, .listazapa5, .listazapa6
{
    transition: 0.5s;
}